/*!
 * custom.css
 * Copyright 2020.06.04 feat -Isa
*/

/* interface */

.margin-center {display: block; margin: 0 auto;}
.score {display: inline-block; width : 60%; text-align: left;}
.life {display: inline-block; width : 40%; text-align: right;}

/* content */

canvas {width: 90%;}

/* footer */

footer {margin: 0 0 20px 0; text-align: center;}